/*   html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline) | Authors: Eric Meyer & Richard Clark  html5doctor.com/html-5-reset-stylesheet/*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
img {
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  margin: 0;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  zoom: 1;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: Sofia Pro;
  src: url('/assets/fonts/SofiaProRegular.otf');
}
@font-face {
  font-family: Sofia Pro;
  font-weight: 600;
  src: url('/assets/fonts/SofiaProBold.otf');
}
@font-face {
  font-family: Sofia Pro;
  font-weight: 300;
  src: url('/assets/fonts/SofiaProLight.otf');
}
body {
  font-family: "Sofia Pro";
  min-width: 888px;
  margin: 0px auto;
  width: 100%;
  background: url(/assets/images/bg.png);
}
header {
  height: 96px;
  margin-bottom: 24px;
}
.logo {
  padding-left: 24px;
  width: 336px;
}
.wrapper {
  overflow: hidden;
  width: 100%;
  min-width: 1008px;
}
.browseUI__albumsContainer {
  list-style: none;
  margin-left: -24px;
}
.albumBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 312px;
  width: 312px;
  float: left;
  margin: 0 0 24px 24px;
  position: relative;
  opacity: 0.77;
  background-size: cover;
  background-position: 50% 50%;
}
.albumBox:hover,
.albumBox .active {
  opacity: 1;
}
.albumBox__title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: rgba(46, 46, 46, 0.7);
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 35px rgba(255, 255, 255, 0.8);
}
