// EyeEgg
// Developed by Marco Hamersma
// Designed by
// @marcohamersma // marcohamersma.nl

@import 'lib/reset';
@import 'lib/mixins';

@font-face { font-family: Sofia Pro; src: url('/assets/fonts/SofiaProRegular.otf'); }
@font-face { font-family: Sofia Pro; font-weight: 600; src: url('/assets/fonts/SofiaProBold.otf'); }
@font-face { font-family: Sofia Pro; font-weight: 300; src: url('/assets/fonts/SofiaProLight.otf'); }

@gridUnit: 24px;

body {
  font-family: "Sofia Pro";
  min-width: 888px;
  margin: 0px auto;
  width: 100%;
  background: url(/assets/images/bg.png);
}

header {
  height: 4 * @gridUnit;
  margin-bottom: @gridUnit;
}

.logo {
  padding-left: @gridUnit;
  width: 14 * @gridUnit;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-width: 3 * (14 * @gridUnit);
}

.browseUI__albumsContainer {
  list-style: none;
  margin-left: -@gridUnit;
}

.albumBox {
  .border-box;
  .square(13 * @gridUnit);
  float: left;
  margin: 0 0 @gridUnit @gridUnit;
  position: relative;
  opacity: 0.77;
  background-size: cover;
  background-position: 50% 50%;

  &:hover, .active {
    opacity: 1
  }
}


.albumBox__title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: rgba(46, 46, 46, 0.7);
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 35px rgba(255,255,255,0.8);
}
